@import '../../../../variables.scss';

.table-content {
    width: 100%;
    overflow-x: auto;

    table {
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid $box-border-color;
        border-spacing: 0;

        thead {
            th {
                padding: 10px 0;
                font-family: "Poppins";
                font-size: 13px;
                font-weight: 300;
                background-color: #f9fcff;
                color: $label-color;
                cursor: default;
            }

            tr th {
                border-bottom: 1px solid $box-border-color;
            }

            th:not(:last-child) {
                border-right: 1px solid $box-border-color;
            }
        }

        tbody {
            td {
                padding: 4px 2px;
                font-family: 'SourceSans';
                font-size: 14px;
                font-weight: 400;
                color: $input-color;
                text-align: center;
            }

            tr:hover {
                background-color: #e3f2ff;
                transition: .1s background-color;
                cursor: pointer;
            }

            td .row-actions {
                display: flex;
                justify-content: space-evenly;

                button {
                    margin: auto 4px;
                    height: 32px;
                    line-height: 10px;
                    padding: 2px;
                    width: 32px;
                    min-width: unset;

                    c-icon {
                        transform: translateY(6px);
                    }
                }
            }

            tr:not(:last-child) td {
                border-bottom: 1px solid $box-border-color;
            }
        }
    }
}

.cards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        margin-bottom: 12px;
        padding: 8px 0;
        border-radius: 8px;
        width: 47.5%;
        border: 1px solid #d4d4d4;

        &__line {
            padding: 0 12px;
            margin-bottom: 4px;

            label {
                font-size: 12px;
                font-family: "Poppins";
                font-weight: 600;
                color: $label-color;
                cursor: default;
                display: block;
            }

            span {
                font-size: 14px;
                font-family: "SourceSans";
                font-weight: 400;
                color: $description-color;
                cursor: default;
            }
        }

        &__actions {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

// Low-resolution mobiles
@media screen and (max-width: 512px) {
    .cards-content {
        display: block;

        .card {
            margin: 0 auto 12px;
            width: 100%;
        }
    }
}
