<section>
    <div class="auth-content">
        <img src="../../assets/imgs/logo.png" class="auth-content__logo" alt="Logotipo Health Tech - Versão Beta"/>
        <div class="auth-card">
            <div class="auth-card__header">
                <label class="auth-card__header__title">Esqueci a senha</label>
                <ng-container *ngIf="!codeApplied">
                    <p class="auth-card__header__description">Insira seu email abaixo para envio do link de confirmação</p>
                </ng-container>
                <ng-container *ngIf="codeApplied">
                    <p class="auth-card__header__description">Insira sua nova senha</p>
                </ng-container>
            </div>
            <div class="auth-card__body">
                <ng-container *ngIf="!codeApplied">
                    <password-reset-email></password-reset-email>
                </ng-container>
                <ng-container *ngIf="codeApplied">
                    <password-reset-code></password-reset-code>
                </ng-container>
            </div>
        </div>
    </div>
</section>
