@import '../../../variables.scss';

main {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background-color: $tertiary-color;

    system-side-menu {
        width: 192px;
    }

    section {
        width: calc(100% - 192px);
        border-top-left-radius: 56px;
        background-color: #f9fcff;
        box-shadow: 0px 2px 20px #0a327b;
        z-index: 1;
        min-height: calc(100% - 114px);

        system-main-content {
            padding: 24px;
            width: calc(100% - 48px);
            height: calc(100% - 114px);
            overflow-y: auto;
            display: block;
        }
    }
}

// IPad
@media screen and (max-width: 1024px) {
    main {
        system-side-menu {
            width: unset;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
        }

        section {
            width: 100%;
            border-top-left-radius: 0;
            box-shadow: 0;
            z-index: 0;
            height: 100%;
        }
    }
}

