<section class="side-menu" [ngClass]="{ 'side-menu--open': opened }">
    <div class="side-menu__header">
        <img src="../../../../assets/imgs/mini.png"/>
    </div>
    <div class="side-menu__content">
        <div class="side-menu__body">
            <a class="side-menu__item" (click)="changeRoute()" routerLink="/system/dashboard" routerLinkActive="side-menu__item--active">
                <c-icon name="cil-home" size="lg"></c-icon>
                <span>Início</span>
            </a>
            <a class="side-menu__item" (click)="changeRoute()" routerLink="/system/collaborators" routerLinkActive="side-menu__item--active">
                <c-icon name="cil-group" size="lg"></c-icon>
                <span>Colaboradores</span>
            </a>
            <a class="side-menu__item" (click)="changeRoute()" routerLink="/system/absences" routerLinkActive="side-menu__item--active">
                <c-icon name="cil-room" size="lg"></c-icon>
                <span>Ausência</span>
            </a>
            <a class="side-menu__item">
                <c-icon name="cil-fork" size="lg"></c-icon>
                <span>Funções e Risco</span>
            </a>
        </div>
        <div class="side-menu__user">
            <div class="side-menu__user__avatar">
                <img src="../../../../assets/imgs/doctor.png"/>
            </div>
            <div class="side-menu__user__options">
                <label>Maria Luiza</label>
                <a routerLink="/auth/login">
                    <c-icon name="cil-exit-to-app"></c-icon>
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="side-menu__backdrop" (click)="toggleMenu()" [ngClass]="{ 'side-menu__backdrop--active': opened }"></div>
<button class="side-menu__toggle" (click)="toggleMenu()" [ngClass]="{ 'side-menu__toggle--hidden': opened }">
    <c-icon name="cil-hamburger-menu" size="xl"></c-icon>
</button>
