@import '../../../../../variables.scss';

.side-menu {
    width: 100%;
    height: calc(100% - 32px);
    padding: 16px 0;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        text-align: center;

        img {
            width: 48px;
            height: 48px;
            margin: 16px auto;
        }
    }

    &__content {
        height: calc(100% - 74px);
    }

    &__body {
        margin: 0 18px 24px 24px;
        padding: 0 6px 24px 0;
        overflow-y: auto;
        max-height: calc(100% - 214px);
        border-bottom: 2px solid #3a6bc5;
    }

    &__item {
        padding: 18px 0;
        width: 100%;
        display: flex;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 14px;
        color: $light-color;
        cursor: pointer;
        transition: .2s color;
        text-decoration: none;

        c-icon {
            margin-right: 12px;
            display: flex;
            align-items: center;
        }

        &:hover {
            color: #b0ccff;
        }

        &--active {
            color: #fff;
        }
    }

    &__user {
        width: calc(100% - 48px);
        padding: 12px 24px;
        display: flex;

        &__avatar {
            width: 38px;
            height: 38px;
            margin: auto 0;

            img {
                width: 36px;
                height: 36px;
                border-radius: 100%;
                border: 2px solid #fff;
            }
        }

        &__options {
            width: calc(100% - 56px);
            margin-left: 20px;

            label {
                font-family: 'Poppins';
                font-weight: 500;
                color: #fff;
                font-size: 14px;
            }

            a {
                margin-top: 6px;
                font-family: 'Poppins';
                font-weight: 500;
                color: $light-color;
                font-size: 14px;
                display: flex;
                cursor: pointer;
                text-decoration: none;

                c-icon {
                    margin-right: 8px;
                    margin-top: 2px;
                }
            }
        }
    }

    &__toggle {
        display: none;
        position: absolute;
        left: 24px;
        top: 12px;
        z-index: 1;
        border: 1px solid $light-color;
        color: #ffffff;
        background-color: $secondary-color;
        width: 42px;
        padding: 0;
        height: 42px;
        min-width: unset;
        line-height: 54px;

        &--hidden {
            opacity: 0;
            z-index: 0;
            pointer-events: none;
        }
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0 0 0 / 10%);
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        user-select: none;
        transition: .4s opacity;
        pointer-events: none;

        &--active {
            opacity: 100%;
            pointer-events: all;
        }
    }

    &--open ::ng-deep .modal-backdrop  {
        opacity: 0;
    }
}

// IPad
@media screen and (max-width: 1024px) {
    .side-menu {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        width: 256px;
        transition: .4s left;

        &__toggle {
            display: block;
        }

        &--open {
            left: 0;
            box-shadow: 0px 2px 10px $tertiary-color;
        }
    }
}
