<div class="page-header">
   <div class="page-header__info">
       <h1 class="page-header__info__title">
           Editar Treinamento Compulsório
       </h1>
       <p class="page-header__info__subtitle">
           Alteração de dados do treinamento de {{ training.type || '' }}
       </p>
   </div>
</div>

<form [formGroup]="dataForm">
   <div class="form-group">
      <label>Tipo de Treinamento</label>
      <select>
         <option value="1">Brigada de Incêndio</option>
         <option value="2">Inflamáveis e Combustíveis</option>
         <option value="3">Equipamentos de Proteção</option>
         <option value="4">Espaços Confinados</option>
         <option value="5">Segurança do Trabalho</option>
      </select>
   </div>
   <div class="form-group">
      <label>Funções do Treinamento</label>
      <textarea type="text" alt="Funções do Treinamento" placeholder="Insira a Funções do Treinamento"></textarea>
   </div>
   <div class="form-group">
      <label>Riscos ao Colaborador</label>
      <textarea type="text" alt="Riscos ao Colaborador" placeholder="Insira os Riscos ao Colaborador" formControlName="risks"></textarea>
   </div>
   <div class="form-group">
      <label>Data de Início</label>
      <input type="date" alt="Data de Início" placeholder="Insira a Data de Início"/>
   </div>
   <div class="form-group">
      <label>Data de Término</label>
      <input type="date" alt="Data de Término" placeholder="Insira a Data de Término"/>
   </div>   
   <div class="form-group">
      <label>Notificar colaborador(a)?</label>
      <div class="radio-group">
         <input type="radio" name="notify" value="positive" id="positive">
         <label for="positive">Sim</label>
      </div>
      <div class="radio-group">
         <input type="radio" name="notify" value="negative" id="negative">
         <label for="negative">Não</label>
      </div>
   </div>
   <div class="form-group">
       <label>Upload de Certificado</label>
       <input type="file"/>
   </div>
</form>

<div class="form-controls">
   <button type="button" routerLink="/system/compulsory-training/list">Cancelar</button>
   <button type="button" class="primary" routerLink="/system/compulsory-training/list">Salvar</button>
</div>