header {
    height: 64px;
    display: flex;

    img {
        margin: auto;
        width: 192px;
    }
}

// IPad
@media screen and (max-width: 1024px) {
    header {
        img {
            width: 168px;
        }
    }
}
