.page-header__options button {
   span {
       display: block;
   }

   c-icon {
       display: none;
   }
}

// High-resolution mobile
@media screen and (max-width: 640px) {
   .page-header__options button {
       width: 42px;
       height: 48px;
       min-width: unset;

       span {
           display: none;
       }

       c-icon {
           display: block;
       }
   }
}
