<div class="page-header">
   <div class="page-header__info">
       <h1 class="page-header__info__title">
           Absenteísmo
       </h1>
       <p class="page-header__info__subtitle">
           Lista de colaboradores ausentes
       </p>
   </div>
   <div class="page-header__options">
       <button class="primary" routerLink="/system/absences/create">
           <span>Novo</span>
       </button>
   </div>
</div>

<div class="table-content">
   <table>
       <thead>
           <tr>
               <th>
                   Nome
               </th>
               <th>
                   Tipo
               </th>
               <th>
                   Data de Início
               </th>
               <th>
                   Data de Término
               </th>
               <th>
                   Ações
               </th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let user of users">
               <td>
                   {{ user.name }}
               </td>
               <td>
                   {{ user.type }}
               </td>
               <td>
                   {{ user.date_begin }}
               </td>
               <td>
                   {{ user.date_end }}
               </td>
               <td class="row-option">
                   <button class="secondary flat" (click)="editUser(user)">
                       <c-icon name="cil-pencil"></c-icon>
                   </button>
                   <button class="warn flat" (click)="deleteUser(user.name)">
                       <c-icon name="cil-trash"></c-icon>
                   </button>
               </td>
           </tr>
       </tbody>
   </table>
</div>

<app-modal>
   <ng-container header>
       <h2>Cancelar ausência</h2>
       <p>
           Aviso: esta exclusão é irreversível.
       </p>
   </ng-container>
   <ng-container body>
       <p>
           Tem certeza que deseja prosseguir com o cancelamento do registro de ausência de <b>{{ selectedUser }}</b>?
       </p>
   </ng-container>
   <ng-container footer>
       <button (click)="modal.toggleModal()">
           Cancelar
       </button>
       <button class="warn" (click)="modal.toggleModal()">
           Excluir
       </button>
   </ng-container>
</app-modal>
