<div class="page-header">
   <div class="page-header__info">
       <h1 class="page-header__info__title">
           Absenteísmo
       </h1>
       <p class="page-header__info__subtitle">
           Lista de colaboradores ausentes
       </p>
   </div>
   <div class="page-header__options">
       <button class="primary" routerLink="/system/absences/create">
            <span>Novo</span>
            <c-icon name="cil-plus" size="xl"></c-icon>
       </button>
   </div>
</div>

<data-grid [columns]="gridColumns" [rows]="gridRows" [buttons]="gridActions"></data-grid>

<modal>
   <ng-container header>
       <h2>Cancelar ausência</h2>
       <p>
           Aviso: esta exclusão é irreversível.
       </p>
   </ng-container>
   <ng-container body>
       <p>
           Tem certeza que deseja prosseguir com o cancelamento do registro de ausência de <b>{{ selectedAbsence }}</b>?
       </p>
   </ng-container>
   <ng-container footer>
       <button (click)="modal.toggleModal()">
           Cancelar
       </button>
       <button class="warn" (click)="modal.toggleModal()">
           Excluir
       </button>
   </ng-container>
</modal>
