@import '../../../../../variables.scss';

.box-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    margin-bottom: 16px;
    padding-top: 12px;
    border-radius: 8px;
    width: 47.5%;
    border: 1px solid #e0e0e0;

    &__header {
        border-bottom: 1px solid #e0e0e0;
        margin: 0 12px 24px;
        padding-bottom: 8px;

        &__title {
            display: flex;
            height: 30px;
            line-height: 20px;

            c-icon {
                color: $quartiary-color;
            }

            h2 {
                margin: 0 0 4px 10px;
                font-family: 'Poppins';
                font-size: 16px;
                color: $title-color;
                cursor: default;
            }
        }

        span {
            margin: 0 0 6px;
            font-family: 'SourceSans';
            font-size: 15px;
            font-weight: 400;
            color: $description-color;
            cursor: default;
        }
    }

    &__body {
        &__message {
            padding: 0 12px 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid #e0e0e0;
            display: flex;

            div {
                p {
                    margin: 0;
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 13px;
                    color: $label-color;
                    cursor: default;
                }

                span {
                    margin: 0;
                    font-family: 'SourceSans';
                    font-size: 14px;
                    font-weight: 400;
                    color: $description-color;
                    cursor: default;
                }
            }

            c-icon {
                margin: auto 0 auto 16px;
            }

            &--alert {
                c-icon {
                    color: $alert-color;
                }
            }

            &--warn {
                c-icon {
                    color: $warn-color;
                }
            }
        }
    }
}

// Tablets
@media screen and (max-width: 768px) {
    .box-group {
        display: block;
    }

    .box {
        width: 100%;

        &__header {
            span {
                font-size: 14px;
            }
        }
    }
}
