<section>
  <div class="card">
    <div class="card__header">
      <label class="card__header__title">Login</label>
      <p class="card__header__description">Insira seus dados abaixo para continuar</p>
    </div>
    <div class="card__body">
      <form>
        <div class="form-group">
          <label>Usuário</label>
          <input type="text" alt="Nome do Usuário" placeholder="Insira o usuário" />
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input type="password" alt="Nome do Usuário" placeholder="Insira o usuário" />
        </div>
      </form>
    </div>
  </div>
</section>
