<div class="auth-card__header">
    <label class="auth-card__header__title">Esqueci a senha</label>
    <p class="auth-card__header__description">Insira sua nova senha</p>
</div>
<div class="auth-card__body">
    <form>
        <div class="form-group">
            <label>Nova Senha</label>
            <input type="password" alt="Nova Senha" placeholder="Insira a nova senha" />
        </div>
        <div class="form-group">
            <label>Confirme a Senha</label>
            <input type="password" alt="Confirmação da Nova Senha" placeholder="Insira a nova senha" />
        </div>
        <div class="form-controls">
            <button type="button" routerLink="/auth/login">Voltar</button>
            <button type="button" class="primary" routerLink="/auth/login">Restaurar Senha</button>
        </div>
    </form>
</div>
