@import './variables.scss';

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('./assets/fonts/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: url('./assets/fonts/Poppins-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/SourceSansPro-LightItalic.ttf');
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #f1f8ff;
  position: relative;
}

.form-group {
  margin-bottom: 12px;

    label {
        font-family: 'SourceSans';
        font-weight: 700;
        color: $label-color;
        font-size: 16px;
    }

    input, select {
        display: block;
        padding: 10px 0;
        width: 100%;
        font-family: 'SourceSans';
        font-size: 14px;
        color: $input-color;
        outline: 0;
        border-style: none;
        border-bottom: 1px solid #b7b7b7;
    }
}

.form-controls {
  margin-top: 28px;
  display: flex;
  justify-content: space-evenly;

  button {
    margin: 12px auto;
    min-width: 128px;
  }
}

button {
    outline: 0;
    border: 0;
    display: flex;
    text-decoration: none;
    padding: 12px 8px;
    justify-content: center;
    background-color: #d6d6d6;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    color: $label-color;
    border-radius: 4px;
    min-width: 70px;
    cursor: pointer;

    c-icon {
        transform: translateY(1px);
        margin: 0 6px;
    }

    &.primary {
        background-color: $primary-color;
        color: #fff;

        &.flat {
        background-color: transparent;
        color: $primary-color;
        }
    }

    &.secondary {
        background-color: $secondary-color;
        color: #fff;

        &.flat {
        background-color: transparent;
        color: $secondary-color;
        }
    }

    &.tertiary {
        background-color: $tertiary-color;
        color: #fff;

        &.flat {
        background-color: transparent;
        color: $tertiary-color;
        }
    }

    &.dark {
        background-color: $dark-color;
        color: #fff;

        &.flat {
        background-color: transparent;
        color: $dark-color;
        }
    }

    &.alert {
        background-color: $alert-color;
        color: #fff;

        &.flat {
        background-color: transparent;
        color: $alert-color;
        }
    }

    &.warn {
        background-color: $warn-color;
        color: #fff;

        &.flat {
        background-color: transparent;
        color: $warn-color;
        }
    }
}

.apexcharts-menu-item {
    font-family: 'SourceSans';
    text-align: start;
}

.page-header {
    margin: 12px 0 18px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid $box-border-color;

    &__info {
        &__title {
            font-size: 24px;
            font-family: 'Poppins';
            margin: 0 0 8px;
            color: $title-color;
            cursor: default;
        }

        &__subtitle {
            font-size: 16px;
            font-family: 'SourceSans';
            margin: 0;
            color: $description-color;
            cursor: default;
        }
    }

    &__options {
        display: flex;

        button {
            margin: auto 0 auto 6px;
        }
    }
}
