@import './variables.scss';

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/SourceSansPro-LightItalic.ttf');
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #f1f8ff;
  position: relative;
}

section {
  height: 100%;
  display: flex;
}

.auth-content {
  width: 25%;
  margin: auto;

  &__logo {
    width: 80%;
    margin: 0px auto 96px;
    display: flex;
  }
}

.auth-card {
  width: calc(100% - 64px);
  padding: 24px 32px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 16px #b2cae0;

  &__header {
    margin-bottom: 48px;

    &__title {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 28px;
      color: $title-color;
    }

    &__description {
      font-family: 'SourceSans';
      font-weight: 400;
      font-size: 16px;
      color: $description-color;
      margin: 8px 0;
      cursor: default;
    }
  }

  &__body {
    margin-top: 18px;
  }
}

.form-group {
  margin-bottom: 12px;

  label {
    font-family: 'SourceSans';
    font-weight: 700;
    color: $label-color;
    font-size: 16px;
  }

  input, select {
    display: block;
    padding: 10px 0;
    width: 100%;
    font-family: 'SourceSans';
    font-size: 14px;
    color: $input-color;
    outline: 0;
    border-radius: 4px;
    border-style: none;
    border-bottom: 1px solid #b7b7b7;
  }
}

.form-controls {
  margin-top: 28px;
  display: flex;
  justify-content: space-evenly;

  button {
    margin: 12px auto;
    min-width: 128px;
  }
}

button {
  outline: 0;
  border: 0;
  display: block;
  text-decoration: none;
  padding: 12px 8px;
  text-align: center;
  background-color: #d6d6d6;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  color: $label-color;
  border-radius: 4px;
  min-width: 70px;
  cursor: pointer;

  &.primary {
    background-color: $primary-color;
    color: #fff;
  }

  &.secondary {
    background-color: $secondary-color;
    color: #fff;
  }

  &.dark {
    background-color: $dark-color;
    color: #fff;
  }
}

// Desktop
@media screen and (max-width: 1440px) {
  .auth-content {
    width: 30%;
  }
}

// Laptops
@media screen and (max-width: 1280px) {
  .auth-content {
    width: 45%;

    &__logo {
      width: 70%;
    }
  }
}

// Tablets
@media screen and (max-width: 768px) {
  .auth-content {
    width: 75%;
  }
}

// High-resolution mobile
@media screen and (max-width: 640px) {
  .auth-content {
    width: 85%;
  }
}

// Low-resolution mobile
@media screen and (max-width: 384px) {
  .form-controls {
    flex-direction: column-reverse;
  }
}
