@import './variables.scss';

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('./assets/fonts/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: url('./assets/fonts/Poppins-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSans';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/SourceSansPro-LightItalic.ttf');
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #f1f8ff;
  position: relative;
}

.form-group {
  margin-bottom: 12px;

  label {
    font-family: 'SourceSans';
    font-weight: 700;
    color: $label-color;
    font-size: 16px;
  }

  input, select {
    display: block;
    padding: 10px 0;
    width: 100%;
    font-family: 'SourceSans';
    font-size: 14px;
    color: $input-color;
    outline: 0;
    border-radius: 4px;
    border-style: none;
    border-bottom: 1px solid #b7b7b7;
  }
}

.form-controls {
  margin-top: 28px;
  display: flex;
  justify-content: space-evenly;

  button {
    margin: 12px auto;
    min-width: 128px;
  }
}

button {
  outline: 0;
  border: 0;
  display: block;
  text-decoration: none;
  padding: 12px 8px;
  text-align: center;
  background-color: #d6d6d6;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: $label-color;
  border-radius: 4px;
  min-width: 70px;
  cursor: pointer;

  &.primary {
    background-color: $primary-color;
    color: #fff;
  }

  &.secondary {
    background-color: $secondary-color;
    color: #fff;
  }

  &.tertiary {
    background-color: $tertiary-color;
    color: #fff;
  }

  &.dark {
    background-color: $dark-color;
    color: #fff;
  }
}
