$primary-color: #00A170;
$secondary-color: #0074D9;
$tertiary-color: #164aa9;
$dark-color: #313131;
$light-color: #6090e8;

$title-color: #232323;
$description-color: #6f6f6f;
$label-color: #313131;
$input-color: #313131;
