<div class="page-header">
   <div class="page-header__info">
       <h1 class="page-header__info__title">
           Novo Colaborador CIPA
       </h1>
       <p class="page-header__info__subtitle">
           Inserir de dados do novo colaborador CIPA
       </p>
   </div>
</div>

<form>
   <div class="form-group">
       <label>Nome do Colaborador</label>
       <input type="text" alt="Nome do Colaborador" placeholder="Insira o Nome do Colaborador"/>
   </div>
   <div class="form-group">
      <label>Registro de Funcionário</label>
      <input type="text" alt="Registro de Funcionário" placeholder="Insira o registro de funcionário"/>
   </div>
   <div class="form-group">
      <label>CPF</label>
      <input type="text" alt="CPF" placeholder="Insira o CPF"/>
   </div>
   <div class="form-group">
       <label>Email</label>
       <input type="text" alt="Email" placeholder="Insira o Email"/>
   </div>
   <div class="form-group">
      <label>Data de Início</label>
      <input type="date" alt="Data de Início" placeholder="Insira a Data de Início"/>
   </div>
</form>

<div class="form-controls">
   <button type="button" routerLink="/system/cipa/list">Cancelar</button>
   <button type="button" class="primary" routerLink="/system/cipa/list">Salvar</button>
</div>